@model Vidly.ViewModels.CustomerList
@{
    ViewBag.Title = "Customer";
}
<h2>@ViewBag.Title:</h2>

@if (Model.Customers.Count > 0)
{
    <ul class="list-group">
        @foreach (var customer in Model.Customers)
        {
            <li class="list-group-item">@Html.ActionLink(@customer.Name, "Index", "Customers", new { id = @customer.Id}, null)</li>
        }
    </ul>
}
else
{
    <text>We don't have any customers yet.</text>
}
